.main-catalog_szr
  &_top 
    display: flex 
    align-items: flex-start
    justify-content: space-between
    margin-bottom: 64px
  &_desc 
    width: 737px
    &--bold 
      margin-top: 20px 
      font-weight: bold
  &_fast 
    display: flex 
    align-items: baseline
    &_subtitle 
      font-weight: 800
      font-size: 12px
      line-height: 14px
      letter-spacing: 0.1em
      text-transform: uppercase
      margin-right: 23px 
    &_content 
      max-width: 710px 
      a 
        display: inline-block
        color: #78BE20
        font-weight: 800
        font-size: 12px
        line-height: 14px
        letter-spacing: 0.1em
        transition: .2s
        margin-right: 30px
        margin-bottom: 20px
        text-transform: uppercase
        &:hover 
          color: #000000
  &_results 
    display: flex
    align-items: center
    margin-top: 64px
    margin-bottom: 64px
    &_subtitle
      font-weight: 800
      font-size: 12px
      line-height: 14px
      letter-spacing: 0.1em
      text-transform: uppercase
      margin-right: 10px
    &_content 
      background-color: rgba(120, 190, 32, 0.2)
      border-radius: 10px
      height: 15px
      display: flex
      align-items: center
      span  
        font-weight: bold
        font-size: 12px
        line-height: 14px
        text-transform: uppercase
        color: #78BE20
        padding: 6px

  &-wr 
    padding-bottom: 100px
    .btn-more_wr
      margin: 64px auto 0 auto
    .catalog-szr-wr
      display: grid 
      grid-template-columns: repeat(auto-fit, minmax(330px, 330px))
      justify-content: space-between
      grid-gap: 64px

.catalog-szr_filter-wrap 
  display: flex
  align-items: center
  margin-bottom: 35px
  .filter-btn-reset 
    margin-left: 35px