.product-card_seed_top 
    display: flex
    justify-content: space-between
    margin-bottom: 100px
    align-items: flex-start

    .product-card_szr_view_photo
        .slick-list.draggable
            height: 100% 
            .slick-track 
                height: 100%
                .slick-slide 
                    height: 100%
                    div 
                        height: 100%
                    .photo-gallery 
                        height: 100%
                        img 
                            height: 100% 
    
    .product-card_szr_top_desc_compound 
        display: flex
        &_item 
            grid-template-columns: initial

    .product-card_seed_view_photo_item 
        padding: 35px

    .product-card_szr_view_photo_nav_item 
        padding: 24px 24px

    .seed-item_icons
        margin-bottom: 25px

.product-card_seed_tabs 
    .tabs-dots li 
        padding: 0 50px 30px 50px

.product-card_seed_content_table 
    &_row
        display: flex
        align-items: center 
        flex-direction: row
        border-top: 1px solid #EEEEEE 
        &_title 
            background-color: #ffffff
            padding: 25px 10px 25px 35px
            font-weight: bold
            font-size: 14px
            width: 100% 
            max-width: 330px
            border-right: 1px solid #EEEEEE
        &_val 
                background-color: rgba(229, 229, 229, 0.5)
                padding: 25px 10px 25px 35px
                font-size: 14px
                width: 100%
        &:last-of-type
            border-bottom: 1px solid #EEEEEE                 
        &:nth-of-type(2n)
            .product-card_seed_content_table_row_title 
                background-color: transparent
            .product-card_seed_content_table_row_val 
                background-color: transparent
