.programm-wr 
    padding-bottom: 100px 
    @media screen and (max-width: 768px)
        padding-bottom: 50px
    .btn-text--green 
        margin-bottom: 81px
        
.programm-table-wr 
    overflow-x: auto
    .programm_img
        min-width: 1310px

.programm_table 
    border: 1px solid #E5E5E5
    border-collapse: collapse 
    font-size: 12px 
    text-align: center
    border-bottom: 2px solid #000000
    margin-bottom: 48px
    min-width: 1310px 

    .table-title
        font-weight: bold 
        background-color: rgba(120,190,32,0.1)
    .table-subtitle
        background-color: rgba(120,190,32,0.1)
    .bg--red 
        background-color: #C00D0E 
        color: #ffffff 
    .bg--blue 
        background-color: #2664AE 
        color: #ffffff 
    .bg--green 
        background-color: #00933D 
        color: #ffffff 
    .bg--orange 
        background-color: #EF7D00
        color: #ffffff 
    .bg--azure 
        background-color: #40BEB9
        color: #ffffff 
    .bg--purple 
        background-color: #40BEB9
        color: #ffffff 
    .bg--brown 
        background-color: #975517
        color: #ffffff 

    td 
        border: 1px solid #E5E5E5
        padding: 5px
        min-width: 40px
        a 
            color: #ffffff 
            &:hover 
                text-decoration: none
            
    tr 
        &:nth-of-type(2n)
            background-color: #F9F9F9 
            
.prog-top-wr 
    display: flex
    justify-content: space-between
    align-items: baseline
    @media screen and ( max-width: 981px )
        flex-direction: column
        margin-bottom: 48px
        

.programm_suitable
    &_subtitle
        font-weight: 800
        font-size: 24px
        line-height: 36px
        margin-bottom: 48px
    &_content 
        display: grid 
        grid-template-columns: repeat(5, 330px) 
        min-width: 1310px 
        grid-gap: 81px
        &-wr 
            overflow-x: auto